@import url('https://fonts.cdnfonts.com/css/noto-sans');
@import 'reset.css';
@import 'rwd-style.css';


.container{
    max-width: 1920px;
    padding:120px 0px 120px 0px;
    .content{
        max-width: 1296px;
        color:#3B3B3B;
        font-size: 16px;
        font-family: Noto Sans;
        font-weight: 400;
        line-height: 24px;
        margin: 0 auto;
        img{
            width: 636px;
            height: 400px;
            margin-bottom: 16px;
            border: 1px solid #F1F1F1;
            border-radius: 8px;
        } 
        h2{
            
            font-size: 28px;
            font-weight: 700;
            line-height: 33.6px;
            margin-bottom: 8px;
        }
        p{
            color:#919191;
            margin-bottom: 24px;
        }
        a{
            color:#3B3B3B;
            display: block;
            text-decoration: none;
            text-align: center;
            padding: 4px 12px 4px 12px;
            background-color:#F1F1F1;
            border-radius: 16px;
        }
        a:hover{
            color: white;
            background-color:#000;
        }
        ul{
            display:flex;
            justify-content: space-between;
            flex-wrap: wrap;
            row-gap:80px;
            li{
                
                .letter{
                    padding: 0px 16px 0px 16px;
                    .label{                       
                        display: flex;
                        column-gap: 16px;                   
                    }
                }
            }
        }
    }
    

}